.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.chart-box .value-box {
        width: 100%;
            height: 100%;
}

.chart-box .title-box .title-line{
    width: 100%;

    font-size: 17px;
    font-weight: 700;
}
.chart-box .title-box {
    background-color: rgba(249, 250, 253, 1) !important;
    width: 100%;
        border-top-left-radius: 10px;
    padding: 15px;
    border-top-right-radius: 10px;
    color: #656d77;
    /*background-color: #eaf8ff !important;*/
        height: 50px;
}
.chart-box{
    display: flex;
    -webkit-box-align: center;
    flex-wrap: wrap;
    /*padding: 24px 19px;*/
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(160, 163, 189, 0.1);
    border-radius: 10px;
    height: 97.5%;
    /* margin: 5px; */
        border-radius: 10px;
}

/* piechart css */

#sale-pie-chart {

    border-radius: 10px;

        margin: 15px;
}
.highcharts-button.highcharts-contextbutton {
    display: none !important;
}
text.highcharts-credits {
    display: none;
}


/* bar chart */
#bar-chart {

    border-radius: 10px;
    margin: 15px;
}


/*semi donut*/
#semi-circle-donut {
        height: 227px !important;
}

.semi-circle-donut .total_allocated{
    position: relative;
    top: -47px;
    border-top: none;
    margin: 0 30px;
    padding: 7px 10px 0 10px;
    overflow: hidden;
}
.total_allocated_lt {
        color: #3F4957;
    padding: 0 !important;
    letter-spacing: 0px;
    font-style: normal !important;
    font-weight: 100 !important;
    font-size: 16px;
    text-align: center;
}
.total_allocated_lt span{
        display: block;
            font-size: 14px;
    margin-bottom: 5px;
    font-weight: 100;
    color: #3F4957;
}
.total_allocated_lt em{
        font-style: normal !important;
    font-weight: 600 !important;
}

.side-line{
    border-right: 1px solid #EAE9EA
}
.total_allocated_lt.text_green_dark{
    color: #e4ad16;
}


/*single bar */
#single-bar-chart {
        height: 194px;
   padding: 0px 30px 0px 22px;
}
